body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

div.linha {
	margin-top: 8px;
}

div.linha > label {
	display: block;
}

div.linha > label.checkbox {
    display: inline;
}

#palavrasEscolhidas {
	width: 200px;
}

#config, #esbocoJogo {
    float: left;
    margin-right: 50px;
}

#esbocoJogo {
    display: none;
}

#config {
    border: 1px solid #000;
    padding: 10px;
    background-color: beige;
}

#jogo {
    border: 1px solid #000;
    display: block;
}