body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

div.linha {
	margin-top: 8px;
}

div.linha > label {
	display: block;
}

#palavrasEscolhidas {
	width: 200px;
}

#config, #esbocoJogo {
    float: left;
    margin-right: 50px;
}

#esbocoResposta {
    float: left;
}

#jogo, #resposta {
    width: 480px; 
    height: 380px;
}