body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

div.linha {
	margin-top: 8px;
}

div.linha > label, div.linha > div.coluna > label {
	display: block;
}

div.caixa > div.linha > div.coluna, div.linha > div.coluna {
    float: left;
}

div.caixa > div.linha > div.coluna.coluna1, div.linha > div.coluna.coluna1 {
    width: 120px;   
    clear: both;
}

div.linha > label.checkbox {
    display: inline;
}

#palavrasEscolhidas {
	width: 200px;
}

#config, #esbocoJogo, section.sectionJogo {
    float: left;
    position: relative;
}

#esbocoJogo {
    display: none;
}

#config {
    border: 1px solid #000;
    padding: 10px;
    background-color: beige;
    margin-right: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div.caixa {
    border: 1px solid #AAA;
    padding: 8px;
    margin-top: 10px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="number"], input[type="text"], select {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.caixa > h3, #config > form > h2 {
    padding-top: 0;
    margin-top: 0;
}

#config > form > h2 {
    font-size: 1.3em;
}

div.caixa > h3 {
    font-size: 1.1em;
}

#letrasAceitas {
    width: 200px;
}

#resultado {
    display: block;
    width: 98%;
}

div.clear {
    height: 0;
    width: 0;
    clear: both;
}

div.opcoesEsboco .opcaoEsboco {
    margin-right: 7px;
    vertical-align: middle;
}

div.opcoesEsboco {
    width: 470px;
    line-height: 23px;
}

div.opcoesEsboco > span.divisao {
    height: 100%;
    width: 1px;
    background-color: gray;
}

canvas.jogo {
    float: left;
    margin-right: 10px;
}

div.palavrasDoJogo {
    float: left;
    margin-right: 10px;
    padding: 10px;
    width: 145px;
    font-size: 1.1em;
    line-height: 150%;
}

#textoParaAdicionarAcima {
    width: 348px;
    height: 55px;
}

div.textoAcima {
    display: none;
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 150%;
}

span.palavra {
    font-weight: 900;
    text-decoration: underline;
}

div.reconfigurar {
    display: block;
    margin-right: 10px;
    position: absolute;
}

div.reconfigurar.invisivel {
    display: none;
}

section.sectionJogo.naoAdicionado {
    width: 250px;
    height: 250px;
    line-height: 250px;
}

section.sectionJogo.naoAdicionado > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: gray;
    display: none;
}

section:hover.sectionJogo.naoAdicionado {
    border: 1px dashed gray;
    cursor: pointer;
}

section:hover.sectionJogo.naoAdicionado > a {
    display: block;
    text-decoration: none;
}

input.configJogo {
    width: 212px;
}